body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.row{
    display: block;
    content: '';
    clear: both;
}
.layout{
    float: left;
}

.header{
    /* height: 100px; */
    padding: 24px 0;
    background-color: #9933CC;
}
.container{
    max-width: 95%;
    width: 100%;
    margin: auto;
    /* background-color: turquoise; */
}
.header h1{
    color: white;
    margin: 0;
    padding: 0;
}
button{
    background-color: #33B5E5;
    border: unset;
    width: 100%;
    color: white;
    padding: 7px;
    margin: 3px 0;
}
button:hover{
    background-color: #0099CC;
}
.content{
    padding: 100px 0;
}
.col6{
    padding-left: 30px;
}
.sidebar{
    text-align: center;
    background-color: #33B5E5;
    color: white;
    padding: 20px;
}

.footer .col12{
    background-color: #0099CC;
    text-align: center;
    margin-top: 20px;
    color: white;
}
/* media grids */
.col1{
    width: 8.33%;
}
.col2{
    width: 16.66%;
}
.col3{
    width: 25%;
}
.col4{
    width: 33.33%;
}
.col5{
    width: 41.66%;
}
.col6{
    width: 50%;
}
.col7{
    width: 58.33%;
}
.col8{
    width: 66.66%
}
.col9{
    width: 75%;
}
.col10{
    width: 83.33%;
}
.col11{
    width: 91.66%;
}
.col12{
    width: 100%
}



@media screen and (max-width:992px){
    .col-tab-12{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .col-mob-12{
        width: 100%;
    }
}